<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% extends "base.html" %}
{% block content %}
<body>
    <H1>LogScr V1.1.1</H1>
    <div class="container-fluid">
        <section>
            <form class="form-horizontal" method="post" action="{{ url_for('index') }}">
                    <legend>Create Your Task</legend>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.task_title.label }}
                        {{ form.task_title }}
                    </div>
                    <div class="form-group">
                        {{ form.task_description.label }}
                        {{ form.task_description }}
                    </div>
                    <div class="form-group">
                        {{ form.submit }}
                    </div>
            </form>
        </section>
    </div>
</body>
{% endblock %}