<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% extends "base.html" %}
{% block content %}
<body>
    <H1>LogScr V1.1.1</H1>
    <div>
        <form method="post" action="{{ url_for('index') }}">

                {{ form.hidden_tag() }}

                {{ form.task_title.label }}
                {{ form.task_title }}
                <br>
                {{ form.task_description.label }}
                {{ form.task_description }}
                <br>
                {{ form.submit }}


        </form>
    </div>
</body>
{% endblock %}